name: RDP

on:
  workflow_dispatch:

jobs:
  secure-rdp:
    name: secure-rdp   # <-- هذا السطر يخلي الحالة تظهر بنفس الاسم بالضبط
    runs-on: windows-latest
    timeout-minutes: 3600

    steps:
      - name: Configure Core RDP Settings
        shell: pwsh
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name 'fDenyTSConnections' -Value 0 -Force
          Restart-Service -Name TermService -Force
